div.appContainer {
    background-color: var(--lightGray);
    background-color: #fff;
    background-color: green;
    height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 1fr 70px;
    justify-content: space-between;
}

div.appHeader, div.appFooter {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

div.appContent {
    background-color: bisque;
    position: relative;
}