.footerContainer {
    background-color: var(--backgroundGray);
    color: var(--darkGray);
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 6;
}