.button {
    border: none;
    background-color: var(--backgroundGray);
    border-radius: var(--defaultCurve);
    min-width: 62px;
    /* height: 65px; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: var(--darkGray);
    transition: .1s;
    padding: 0;
}

.button:hover {
    cursor: pointer;
    scale: 1.05;
    transition: .1s;
}

.button:active {
    scale: 1;
}

.button.larger {
    min-width: 130px;
    /* height: 65px; */
    height: 100%;
}

.button span {
    font-size: 24px;
}

.button svg {
    font-size: 40px;
}
