.progress {
    position: absolute;
    border-radius: var(--defaultCurve);
    background-color: #33333348;
    width: 90%;
    height: 10%;
    /* left: 0px; */
    margin: auto 0;
    bottom: 5px;
}


.button {
    position: relative;
    border: none;
    background-color: var(--backgroundGray);
    border-radius: var(--defaultCurve);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: var(--darkGray);
    transition: .1s;
    /* padding: .5rem; */
}

.button:hover {
    cursor: pointer;
    scale: 1.015;
    transition: .1s;
}

.button:active {
    scale: 1;
}

.button.red {
    background-color: var(--red);
    color: #fff;
    font-weight: 600;
}

.button.green {
    background-color: var(--green);
    color: #fff;
    font-weight: 600;
}

.button.disabled {
    background-color: var(--backgroundGray);
    color: #fff;
    font-weight: 600;
}
.button.disabled:hover {
    scale: 1;
    cursor: not-allowed;
}

.button span {
    font-size: 20px;
}

.button svg {
    font-size: 30px;
}
