
.modalContainer {
    position: absolute;
    width: 100%;
    height: calc(100vh - 140px);
    z-index: -10;
    display: flex;
    background-color: rgba(51, 51, 51, 0.3);
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}

.modalContainer.active{
    z-index: 5;
}