
.modalContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    /* transition: 1s; */
}

.modalContainer.active{
    z-index: 5;
    /* transition: .2s; */
}